# filename patterns
*~
.*.swp
.#*
*.deb
*.egg
*.egg-info
*.lock
*.pyc
*.tac
_trial_temp/
_trial_temp*/
homeserver*
my.matrix.host.log.config
pipfile
 
# stuff that is likely to exist when you run a server locally
/*.db
/*.log
/*.log.config
/*.pid
/*.signing.key
/env/
/homeserver*.yaml
/media_store/
/schemas/
/files/
/config/
/uploads

# IDEs
/.idea/
/.ropeproject/
/.vscode/

# build products
/.coverage*
!/.coveragerc
/.tox
/build/
/coverage.*
/dist/
/docs/build/
/htmlcov
/pip-wheel-metadata/
/env/
